<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Mirakl\Connector\Helper\Tax">
        <arguments>
            <argument name="isAdmin" xsi:type="boolean">true</argument>
        </arguments>
    </type>
    <type name="Magento\Framework\Notification\MessageList">
        <arguments>
            <argument name="messages" xsi:type="array">
                <item name="mirakl_offers_async" xsi:type="string">Mirakl\Connector\Model\System\Message\OffersAsyncNotification</item>
            </argument>
        </arguments>
    </type>
</config>
