<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <mirakl_connector>
            <sales_channels>
                <enable_channel_pricing>0</enable_channel_pricing>
            </sales_channels>
        </mirakl_connector>
    </default>
</config>
